

!! Last configuration change at Sun Aug 29 12:00:37 2021 by admin
!
hostname XR
logging console disable
domain name abc.inc
domain lookup disable
username admin
 group root-lr
 group cisco-support
 secret 5 $1$B5hz$hLLjJxbqKtUL9pTp3eBv3.
!
username rancid
 group read-only-tg
 secret 5 $1$/JUn$jX/0FXnnQbNm94LYmcARR1
!
username rely
 secret 5 $1$nNNO$xCnXkPmjJPpbk9Vmj0GhC0
!
username lesly
 secret 5 $1$.V0N$vs1NePnIYa/JYrxfsCXud.
!
username karla
 secret 5 $1$lpzP$4Wovr4GgrVCQXXmc/dRJw1
!
username yang
 group netadmin
 secret 5 $1$ex0M$.Ny/Jt3/ZQtJREs4wOwl9/
!
username altyn
 group root-lr
 group netadmin
 secret 5 $1$MDH7$SiDJTNQk0Wy4jb/i9/vmW/
!
username test
 password 7 02050D480809
!
cdp
tpa
 vrf default
  address-family ipv4
   default-route mgmt
  !
 !
!
line console
 exec-timeout 0 0
 absolute-timeout 0
 session-timeout 0
!
line default
 exec-timeout 0 0
 absolute-timeout 0
 session-timeout 0
 transport input ssh
!
ntp
 server 132.163.97.4
!
service cli configuration disable usergroup read-only-tg
key chain CRACK_PW
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
 !
!
control-plane
 management-plane
  out-of-band
   interface MgmtEth0/RSP0/CPU0/0
    allow SSH
    allow SNMP
    allow NETCONF
   !
   interface MgmtEth0/RSP1/CPU0/0
    allow SSH
    allow SNMP
    allow NETCONF
   !
  !
 !
!
!
class-map match-any video
 match precedence 1 
 end-class-map
! 
class-map match-any class1
 match precedence ipv4 3 
 end-class-map
! 
class-map match-any premium
 match precedence 2 3 
 end-class-map
! 
class-map match-any voice-ip
 match precedence 0 
 end-class-map
! 
class-map match-any best-effort
 match precedence 4 
 end-class-map
! 
!
policy-map policy1
 class class1
  shape average percent 30 
 ! 
 class voice-ip
  shape average percent 10 
 ! 
 class class-default
  shape average percent 20 
 ! 
 end-policy-map
! 
interface Loopback0
 ipv4 address 11.11.11.11 255.255.255.255
!
interface Loopback1
 description TESTBIG1234
 ipv4 address 11.11.11.22 255.255.255.255
!
interface Loopback3
 description BIG
!
interface Loopback7
 description Equipo1NornirConPython
 ipv4 address 7.7.7.7 255.255.255.255
!
interface Loopback8
 description Norinir con VsCODE
 ipv4 address 8.8.8.8 255.255.255.255
!
interface Loopback9
 description Equipo6NornirConPython
 ipv4 address 9.9.7.8 255.255.255.255
!
interface Loopback10
 description Nornir Pycharm
 ipv4 address 27.27.27.27 255.255.255.255
!
interface Loopback21
!
interface Loopback33
 ipv4 address 33.33.33.33 255.255.255.255
!
interface Loopback45
 description Nornir VsCode @Miguelangel
!
interface Loopback77
 description Nornir VsCode
 ipv4 address 77.77.77.77 255.255.255.255
!
interface Loopback100
 description ***MERGE LOOPBACK 100****
 ipv4 address 1.1.1.100 255.255.255.255
!
interface Loopback101
 description Nornir Pycharm by MX-1NET
 ipv4 address 12.12.12.12 255.255.255.255
!
interface Loopback111
 description "Testing netconf policy"
 ipv4 address 185.121.240.11 255.255.255.255
!
interface Loopback113
 ipv4 address 119.156.152.151 255.255.255.0
!
interface Loopback200
 description ***MERGE LOOPBACK 200****
 ipv4 address 1.1.1.200 255.255.255.255
!
interface Loopback666
 description "config by Gabriel w Napalm"
 shutdown
!
interface Loopback888
 description BIGTEST
 ipv4 address 10.10.10.10 255.255.255.255
!
interface Loopback999
 description Config By Bugbig
 ipv4 address 10.20.20.20 255.255.255.255
!
interface tunnel-ip888
 description COMPUTIZENETWORK-AS270735-CID8979
 bandwidth 300000
 ipv4 address 10.220.88.161 255.255.255.252
 load-interval 30
 tunnel source Loopback111
 tunnel destination 172.138.111.22
!
interface tunnel-ip889
 description TESTNETCONF_TUNNEL
 bandwidth 300000
 ipv4 address 10.220.12.17 255.255.255.252
 load-interval 30
 tunnel source Loopback111
 tunnel destination 123.123.11.12
!
interface tunnel-ip899
 description TESTNETCONF_TUNNEL
 bandwidth 300000
 ipv4 address 10.220.13.17 255.255.255.252
 load-interval 30
 tunnel source Loopback111
 tunnel destination 124.123.11.12
!
interface tunnel-ip900
 description BILBO-456344-8775
 bandwidth 300000
 ipv4 address 10.220.90.1 255.255.255.252
 load-interval 30
 tunnel source Loopback111
 tunnel destination 125.123.11.12
!
interface tunnel-ip901
 description BILBOv2-456334-8773
 bandwidth 300000
 ipv4 address 10.220.91.1 255.255.255.252
 load-interval 30
 tunnel source Loopback111
 tunnel destination 126.123.11.12
!
interface tunnel-ip902
 description BILBOv3-456334-8774
 bandwidth 300000
 ipv4 address 10.220.92.1 255.255.255.252
 load-interval 30
 tunnel source Loopback111
 tunnel destination 189.123.11.12
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 10.10.20.175 255.255.255.0
!
interface preconfigure GigabitEthernet0/0/0/0
 description Equipo5 VsCode usando NORNIR
 ipv4 address 192.168.130.1 255.255.255.0
 ipv4 verify unicast source reachable-via rx allow-self-ping allow-default
!
interface preconfigure GigabitEthernet0/0/0/1
 description Equipo5 VsCode usando NORNIR
 ipv4 address 192.168.140.1 255.255.255.0
!
interface preconfigure GigabitEthernet0/0/0/2
 description Equipo6 VsCode usando NORNIR con Python
 ipv4 address 192.168.170.1 255.255.255.0
 ipv4 unreachables disable
!
interface preconfigure GigabitEthernet0/0/0/3
 description Equipo6 VsCode usando NORNIR con Python
 ipv4 address 192.168.180.1 255.255.255.0
!
interface preconfigure GigabitEthernet0/0/0/4
 description Nornir Pycharm by MX-1NET
 ipv4 address 10.10.10.1 255.255.255.0
!
interface preconfigure GigabitEthernet0/0/0/5
 description Nornir Pycharm by MX-1NET
 ipv4 address 10.10.11.1 255.255.255.0
!
interface preconfigure GigabitEthernet0/0/0/6
 description Nornir VsCode @Miguelangel
 ipv4 address 192.168.200.254 255.255.255.0
!
!
prefix-set test
end-set
!
prefix-set NETS_TEST
  203.9.9.9/32
end-set
!
prefix-set importBILBO
  109.23.46.0/23 le 32,
  172.16.0.0/16 le 24
end-set
!
prefix-set importBILBOv2
end-set
!
prefix-set importBILBOv3
  123.23.0.0/23 le 32,
  111.90.12.0/24 le 32
end-set
!
prefix-set importCOMPUTIZE
  109.23.46.0/23 le 32,
  109.23.46.0/23 le 32,
  172.0.0.0/8 ge 16 le 32,
  103.23.44.0/23 le 32,
  144.23.23.0/24 le 32,
  10.0.0.0/8 le 24,
  172.16.0.0/16 le 24
end-set
!
prefix-set importCOMPUTIZENETWORK
  109.23.46.0/23 le 32,
  109.23.46.0/23 le 32,
  172.0.0.0/8 ge 16 le 32,
  103.23.44.0/23 le 32,
  144.23.23.0/24 le 32,
  10.0.0.0/8 le 24,
  172.16.0.0/16 le 24
end-set
!
as-path-set AAA
end-set
!
community-set test
  65259:111,
  65259:222,
  65259:333
end-set
!
community-set importBILBO
  65259:111,
  65259:222,
  65259:333
end-set
!
community-set importBILBOv2
  65259:111,
  65259:222,
  65259:333
end-set
!
community-set importBILBOv3
  65259:111,
  65259:222,
  65259:333
end-set
!
community-set blackholereceive
  59796:900
end-set
!
community-set COMM-CLIENTS-FILTER
  59796:[0..899],
  59796:[901..65535]
end-set
!
community-set importCOMPUTIZENETWORK
  65259:111,
  65259:222,
  65259:333
end-set
!
route-policy set_tag
  if community matches-any (65259:111) then
    set tag 100
  elseif community matches-any (65259:222) then
    set tag 200
  elseif community matches-any (65259:333) then
    set tag 300
  elseif community matches-any (65259:444) then
    set tag 400
  else
    pass
  endif
end-policy
!
route-policy PASS-ALL
  ###statement-name donev2
  done
end-policy
!
route-policy deny-all
  drop
end-policy
!
route-policy sticky-ecmp
  if destination in (192.168.3.0/24, 2000::/32) then
    set load-balance ecmp-consistent
  else
    pass
  endif
end-policy
!
route-policy importBILBO-in
  if destination in importBILBO then
    if destination in (0.0.0.0/0 ge 25 le 31) then
      drop
    endif
    if destination in (0.0.0.0/0 ge 32) then
      if community matches-any blackholereceive then
        set next-hop 10.0.255.255
        set weight 65000
        done
      endif
      drop
    endif
    delete community in COMM-CLIENTS-FILTER
    set local-preference 500
    set community importBILBO additive
    done
  endif
  drop
end-policy
!
route-policy importCOMPUTIZE
  if destination in importCOMPUTIZE then
    done
  endif
end-policy
!
route-policy importBILBOv2-in
  if destination in importBILBOv2 then
    if destination in (0.0.0.0/0 ge 25 le 31) then
      drop
    endif
    if destination in (0.0.0.0/0 ge 32) then
      if community matches-any blackholereceive then
        set next-hop 10.0.255.255
        set weight 65000
        done
      endif
      drop
    endif
    delete community in COMM-CLIENTS-FILTER
    set local-preference 500
    set community importBILBOv2 additive
    done
  endif
  drop
end-policy
!
route-policy importBILBOv3-in
  if destination in importBILBOv3 then
    if destination in (0.0.0.0/0 ge 25 le 31) then
      drop
    endif
    if destination in (0.0.0.0/0 ge 32) then
      if community matches-any blackholereceive then
        set next-hop 10.0.255.255
        set weight 65000
        done
      endif
      drop
    endif
    delete community in COMM-CLIENTS-FILTER
    set local-preference 500
    set community importBILBOv3 additive
    done
  endif
  drop
end-policy
!
route-policy importCOMPUTIZENETWORK-in
  if destination in importCOMPUTIZENETWORK then
    if destination in (0.0.0.0/0 ge 25 le 31) then
      drop
    endif
    if destination in (0.0.0.0/0 ge 32) then
      if community matches-any blackholereceive then
        set next-hop 10.0.255.255
        set weight 65000
        done
      endif
      drop
    endif
    delete community in COMM-CLIENTS-FILTER
    set local-preference 500
    set community importCOMPUTIZENETWORK additive
    done
  endif
  drop
end-policy
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 10.10.20.254
  1.2.3.0/24 Null0
 !
!
router bgp 59796
 timers bgp 60 180
 bgp router-id 10.0.255.77
 bgp update-delay 0
 address-family ipv4 unicast
 !
 neighbor 10.220.92.2
  remote-as 456334
  ebgp-multihop 2
  description BILBOv3-456334-8774
  session-open-mode passive-only
  address-family ipv4 unicast
   route-policy importBILBOv3-in in
   maximum-prefix 100 75 restart 1
   route-policy deny-all out
   soft-reconfiguration inbound always
  !
 !
!
segment-routing
!
grpc
 port 57777
 address-family ipv4
!
xml agent tty
 iteration off
!
netconf agent tty
!
netconf-yang agent
 ssh
!
ssh server v2
ssh server vrf default
ssh server netconf vrf default
end